################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*/bin/*
*/obj/*
/projects/WinLab.Windows.Helpers.Process/bin/Release
/projects/WinLab.Windows.Helpers.Process/obj/Release
/projects/WinLab.Windows.Helpers.IO/obj/Release
/projects/WinLab.Windows.Helpers.IO/bin/Release
/projects/WinLab.Windows.Helpers.Dump/obj/Release
/projects/WinLab.Windows.Helpers.Dump/bin/Release
/projects/WinLab.Windows.Helpers.Console/obj/Release
/projects/WinLab.Windows.Helpers.Console/bin/Release
/projects/WinLab.Windows.Helpers/obj/Release
/projects/WinLab.Windows.Helpers/bin/Release
/projects/WinLab.Windows.Helpers/bin/Debug
/projects/WinLab.Windows.Helpers.Process/obj/Debug
/projects/WinLab.Windows.Helpers.Process/bin/Debug
/projects/WinLab.Windows.Helpers.IO/obj/Debug
/projects/WinLab.Windows.Helpers.IO/bin/Debug
/projects/WinLab.Windows.Helpers.Dump/obj/Debug
/projects/WinLab.Windows.Helpers.Dump/bin/Debug
/projects/WinLab.Windows.Helpers.Console/obj/Debug
/projects/WinLab.Windows.Helpers.Console/bin/Debug
/projects/WinLab.Windows.Helpers/obj/Debug
